.A {
    background-color: red;
}

.B {
    background-color: pink;
}

.C {
    background-color: green;
}

.D {
    background-color: orange;
}

.E {
    background-color: yellow;
}

.F {
    background-color: blue;
}

.default {
    background-color: violet;
}
