.errorLabel {
    color:red;
}

.green {background-color: #4CAF50;}
.blue {background-color: #008CBA;}
.red {background-color: #f44336;}
.gray {background-color: #e7e7e7; color: black;}
.black {background-color: #555555;}

input {
    width: 100%;
}

input[type=text], input[type=number], input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
